.App {
  text-align: center;
  color: #2c2c2d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Droid Sans,
    Helvetica Neue, sans-serif;
  margin-bottom: 48px;
}

body {
  margin: 0;
  min-width: 992px;
}

.content {
  margin-top: 112px;
  display: flex;
  padding-right: 64px;
  padding-left: 64px;
}

@media (min-width: 1440px) {
  .content {
    padding-right: calc((100vw - 1440px) / 2 + 64px);
    padding-left: calc((100vw - 1440px) / 2 + 64px);
  }
}
